<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Network security needed for SSL for local servers, e.g. ownCloud -->
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="24" />

</manifest>